<div class="flex flex-col h-full">
  <!-- main info -->
  <div>
    <!-- image -->
    <div class="relative h-28 w-28 mx-auto">
      <img src="/assets/images/placeholders/taxi-passenger.png" alt=""
      class="rounded-full">
    </div>

    <div class="mt-2 text-gray-50 text-2xl tracking-tight leading-5">
      {{ passenger.name }} {{ passenger.surname }}
    </div>

  </div>
    
  <div class="flex justify-center mt-4">

    <div class="flex justify-end gap-x-2 px-2 shrink-0 w-1/2 border-r border-stone-500 border-dashed">
      <div class="my-auto shrink-0"> 
        <fa-icon [icon]="	faMoneyBill1Wave" class="text-white"></fa-icon>
      </div>
      <div class="my-auto text-left shrink-0">
        <div class="text-sm text-white font-medium">{{ passenger.tokenBalance }} T</div>
      </div>
    </div>

    <div class="flex shrink-0 w-1/2 px-2 justify-start font-medium">
      <div class="my-auto shrink-0 cursor-pointer text-white hover:text-accent-light"
      (click)="showBuyTokensModal = true; clickedBuyTokensModal = true;">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span class="ml-2">Buy</span>
      </div>
    </div>

  </div>

  <!-- the rest -->
  <div class="flex flex-col flex-grow justify-between mt-4">
    <!-- ride stats -->
    <div class="flex h-14 border border-stone-500 rounded-lg">

      <div class="flex border-r border-stone-500 border-dashed w-1/2 shrink-0">
        <div class="my-auto px-4 shrink-0">
          <fa-icon [icon]="faCar" class="text-white"></fa-icon>
        </div>
        <div class="my-auto text-left shrink-0">
          <div class="text-sm text-white font-medium">{{ passenger.ridesCompleted }}</div>
          <div class="text-xs text-light">Rides Completed</div>
        </div>
      </div>

      <div class="flex w-1/2 shrink-0">
        <div class="my-auto px-4 shrink-0">
          <fa-icon [icon]="faPaperPlane" class="text-white"></fa-icon>
        </div>
        <div class="my-auto text-left shrink-0">
          <div class="text-sm text-white font-medium">{{ getDistanceTravelled() }} km</div>
          <div class="text-xs text-light">Distance Travelled</div>
        </div>
      </div>

    </div>

    <!-- phone and email -->
    <div class="divide-y divide-stone-500">
      <!-- phone number -->
      <div class="flex h-12 w-fit mx-auto">

        <div class="my-auto px-4 shrink-0 text-xl">
          <fa-icon [icon]="faMobileRetro" class="text-gray-50"></fa-icon>
        </div>
        <div class="my-auto text-left pr-4 shrink-0">
          <div class="text-sm text-gray-50 font-medium">{{ passenger.phoneNumber }}</div>
        </div>

      </div>

      <!-- e-mail -->
      <div class="flex h-12 w-fit mx-auto">

        <div class="my-auto px-4 shrink-0 text-xl">
          <fa-icon [icon]="faEnvelope" class="text-gray-50"></fa-icon>
        </div>
        <div class="my-auto text-left pr-4 shrink-0">
          <div class="text-sm text-gray-50 font-medium">{{ passenger.email }}</div>
        </div>

      </div>
    </div>

  </div>

  <div *ngIf="showBuyTokensModal"
  class="fixed top-0 left-0 z-30 w-full min-h-screen h-screen text-center
    flex items-center justify-center bg-stone-500 bg-opacity-80 transition-opacity text-base font-display">
      <div class="relative flex flex-col w-96 h-52 bg-dark rounded-xl mx-auto
      overflow-hidden px-9 py-7"
      (click)="clickedBuyTokensModal = true">
        <h3 class="text-xl font-medium text-gray-50">Buy more tokens</h3>

        <div class="flex flex-col justify-between h-full mt-4">
          <div class="w-full">
            <label class="block tracking-wide text-stone-400 text-xs font-bold mb-1 text-left"
            for="buy-token-amount">
              Amount of tokens [ 100T = €1 ]
            </label>
            <input class="appearance-none block w-full text-white tracking-wide
            placeholder-stone-400 caret-stone-500 border-b border-stone-500 focus:border-accent-light
            bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
            step="100" (input)="buyTokensErrorMessage = ''" [(ngModel)]="tokensToBuy"
            id="buy-token-amount" type="number" placeholder="Enter the desired amount of tokens" >
          </div>

          <div class="h-1 -mt-4">
            <p *ngIf="buyTokensErrorMessage"
            class="text-red-400 text-sm italic text-center">
              <span>
                {{ buyTokensErrorMessage }}
              </span>
            </p>
          </div>

          <button class="py-1 px-8 border border-stone-500 text-stone-400
          hover:bg-stone-500 hover:text-stone-300 rounded-2xl" (click)="addTokens()">
            Pay using PayPal
          </button>
        </div>

      </div>
  </div>

</div>
