<div class="absolute bottom-0 left-0 right-0 sm:static flex sm:flex-row flex-col-reverse
sm:h-full select-none" id="order-menu">

  <div *ngIf="isOpened && ride" class="sm:static flex flex-col rounded-t-3xl sm:rounded-none
  w-screen h-140 sm:h-full sm:w-120 bg-dark py-8 px-10 overflow-auto hidden-scrollbar">
    <h1 class="text-3xl font-bold text-gray-50 mt-4 sm:mt-0">Current ride</h1>
    <div class="tracking-wide uppercase text-light font-medium rounded-2xl">{{ rideStatus }}</div>

    <div *ngIf="waypoints" class="flex flex-col shrink-0 gap-y-3 mt-6 max-h-72 overflow-auto">
      <div *ngFor="let waypoint of waypoints; let i=index;">
        <div class="flex w-full justify-between">
          
          <div class="flex grow gap-x-4">
            <div class="relative flex flex-col justify-center h-10 w-10 shrink-0 text-accent-light
            rounded-full text-center select-none">
              <p *ngIf="i > 0"
                class="absolute -top-4 w-full text-center mx-auto font-extrabold">·</p>
              <fa-icon [icon]="getIcon(i)" class="mx-auto" [ngClass]="i === 0 ? 'text-base' : 'text-xl'"></fa-icon>
              <p *ngIf="i < waypoints.length - 1"
              class="absolute -bottom-4 w-full text-center mx-auto font-extrabold">·</p>
            </div>
            
            <div class="flex flex-col">
              <div class="text-lg font-medium text-gray-50">{{ i === 0 ? 'Pick Up' : i === waypoints.length - 1 ? 'Drop Off' : 'Stop ' + i }}</div>
              <div class="text-sm font-medium text-light">
                {{ waypoint.raw.address.road ? waypoint.raw.address.road + (waypoint.raw.address.house_number ? ' ' + waypoint.raw.address.house_number : '') +
                (waypoint.raw.address.city ? ', ' : '') : '' }}
                {{ waypoint.raw.address.quarter ? waypoint.raw.address.quarter + (waypoint.raw.address.city ? ', ' : '') : '' }}{{ waypoint.raw.address.city }}
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- ride summary and price -->
    <div class="flex flex-col mt-10">

      <div class="flex justify-center font-medium text-sm text-gray-50
      divide-x divide-light">
        <div class="flex gap-x-1.5 px-2 w-1/2 justify-end">
          <fa-icon [icon]="faStopwatch"></fa-icon>
          <span>{{ (ride.expectedTime / 60) + 1 | number: '1.0-0' }} min</span>
        </div>
        <div class="flex gap-x-1.5 px-2 w-1/2 justify-start">
          <fa-icon [icon]="faRoute"></fa-icon>
          <span>{{ ride.distance }} km</span>
        </div>
      </div>
      
      <div class="flex justify-center font-medium text-sm text-gray-50 mt-2">
        <div class="flex gap-x-1.5">
          <fa-icon [icon]="faHandHoldingUsd"></fa-icon>
          <span>{{ ride.price }}<b class="font-black text-accent-light">&nbsp;T</b></span>
        </div>
      </div>

    </div>

    <!-- passengers info -->
    <h1 class="text-2xl font-bold text-gray-50 mt-10">Your passengers</h1>
    <div *ngIf="ride.passengers" class="flex flex-col gap-y-2 mt-4 max-h-72 overflow-auto">
      <div *ngFor="let passenger of ride.passengers">
        <div class="flex w-full justify-between">
          
          <div class="flex grow my-auto text-base font-medium text-gray-50 gap-x-4">
            <fa-icon [icon]="faUser" class="text-2xl my-auto text-accent-light"></fa-icon>
            <div class="flex flex-col justify-between">
              <div class="text-gray-50 text-lg font-medium">{{ passenger.name }} {{ passenger.surname }}</div>
              <div class="text-light text-sm">{{ passenger.username }}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
    
    <button *ngIf="ride.status === 'DRIVER_ARRIVING' && !isRideRejectionSent" class="w-full h-16 bg-accent-light
    active:bg-accent text-white font-medium tracking-wide mt-8" (click)="openRejectRideModal()">
      REJECT RIDE
    </button>

    <button *ngIf="ride.status === 'DRIVER_ARRIVED'" class="w-full h-16 bg-accent-light
    active:bg-accent text-white font-medium tracking-wide mt-8" (click)="beginRide()">
      BEGIN RIDE
    </button>

    <button *ngIf="ride.status === 'ARRIVED_AT_DESTINATION'" class="w-full h-16 bg-accent-light
    active:bg-accent text-white font-medium tracking-wide mt-8" (click)="completeRide()">
      COMPLETE RIDE
    </button>

    <!-- next ride -->
    <div *ngIf="isOpened && nextRide" class="mt-6">
      <h3 class="text-xl font-bold text-gray-50 mt-4 sm:mt-0">Next ride</h3>

      <div class="flex flex-col shrink-0 gap-y-3 mt-4">
          <div class="flex w-full justify-between">
            
            <div class="flex grow gap-x-4">
              <div class="relative flex flex-col justify-center h-10 w-10 shrink-0 text-accent-light
              rounded-full text-center select-none">
                <fa-icon [icon]="faCircle" class="mx-auto text-base"></fa-icon>
                <p
                class="absolute -bottom-4 w-full text-center mx-auto font-extrabold">·</p>
              </div>
              
              <div class="flex flex-col">
                <div class="text-lg font-medium text-gray-50">First Stop</div>
                <div class="text-sm font-medium text-light">
                  {{ nextRide.startAddress }}
                  </div>
              </div>
            </div>
  
          </div>
          <div class="flex w-full justify-between">
            
            <div class="flex grow gap-x-4">
              <div class="relative flex flex-col justify-center h-10 w-10 shrink-0 text-accent-light
              rounded-full text-center select-none">
                <p
                  class="absolute -top-4 w-full text-center mx-auto font-extrabold">·</p>
                <fa-icon [icon]="faFlagCheckered" class="mx-auto text-base"></fa-icon>
              </div>
              
              <div class="flex flex-col">
                <div class="text-lg font-medium text-gray-50">Last Stop</div>
                <div class="text-sm font-medium text-light">
                  {{ nextRide.destinationAddress }}
                  </div>
              </div>
            </div>
  
          </div>
      </div>

    </div>
  </div>

  <!-- opening arrow -->
  <div class="hidden sm:flex flex-col justify-center h-32 w-8 bg-dark
  my-auto cursor-pointer text-center slide-in text-light hover:text-gray-300"
  [ngClass]="isOpened ? '-ml-8 rounded-none' : 'rounded-r-full'"
  (click)="toggleOpened()">
    <fa-icon [icon]="isOpened ? faChevronLeft : faChevronRight" class="text-2xl"></fa-icon>
  </div>

  <!-- opening arrow -->
  <div class="sm:hidden flex justify-center w-screen z-10 slide-in-bottom">
    <div class="flex flex-col justify-center bg-dark
    my-auto cursor-pointer text-center text-light hover:text-gray-300"
    [ngClass]="isOpened ? '-mb-8 rounded-none h-8 w-full mx-10' : 'rounded-t-full h-8 w-44'"
    (click)="toggleOpened()">
      <fa-icon [icon]="isOpened ? faChevronDown : faChevronUp" class="text-2xl"></fa-icon>
    </div>
  </div>

  <div *ngIf="showRejectRideModal"
  class="fixed top-0 left-0 z-30 w-full min-h-screen h-screen text-center
    flex items-center justify-center bg-stone-500 bg-opacity-80 transition-opacity text-base font-display">
      <div class="relative flex flex-col w-120 h-72 bg-dark rounded-xl mx-auto
      overflow-hidden px-9 py-7"
      (click)="clickedRejectRideModal = true">
        <h3 class="text-xl font-medium text-gray-50">Ride rejection</h3>

        <div class="flex flex-col justify-between h-full mt-4">
          <div clase="w-full mt-2">
            <textarea class="w-full border border-solid border-stone-500 bg-dark resize-none h-32 md:h-32
            text text-thin text-stone-100 placeholder-stone-400 p-2 leading-tight rounded-md focus:outline-none focus:border-accent-light"
            [(ngModel)]="rideRejectionReason" placeholder="Please enter the reason for rejecting this ride..."
            (input)="rideRejectionErrorMessage = ''"></textarea>
            <div class="h-1">
              <p *ngIf="rideRejectionErrorMessage"
                class="text-red-400 text-xs italic">
                {{ rideRejectionErrorMessage }}
              </p>
            </div>
          </div>

          <button class="py-1 px-8 border border-stone-500 text-stone-400
          hover:bg-stone-500 hover:text-stone-300 rounded-2xl" (click)="rejectRide()">
            Reject ride
          </button>

        </div>
      </div>
  </div>

</div>
