<div class="absolute bottom-0 left-0 right-0 sm:static flex sm:flex-row flex-col-reverse
sm:h-full select-none" id="order-menu">

  <div *ngIf="isOpened" class="sm:static flex flex-col rounded-t-3xl sm:rounded-none
  w-screen h-140 sm:h-auto sm:w-120 bg-dark py-8 px-10 overflow-auto hidden-scrollbar">
    <h1 class="text-3xl font-bold text-gray-50 mt-4 sm:mt-0">Order a ride</h1>

    <div *ngIf="waypoints" class="flex flex-col shrink-0 gap-y-3 mt-6 max-h-72 overflow-auto">
      <div *ngFor="let waypoint of waypoints; let i=index;">
        <div class="flex w-full justify-between">
          
          <div class="flex grow gap-x-4">
            <div class="relative flex flex-col justify-center h-10 w-10 shrink-0 text-accent-light
            rounded-full text-center select-none">
              <p *ngIf="i > 0"
                class="absolute -top-4 w-full text-center mx-auto font-extrabold">·</p>
              <fa-icon [icon]="getIcon(i)" class="mx-auto" [ngClass]="i === 0 ? 'text-base' : 'text-xl'"></fa-icon>
              <p *ngIf="i < waypoints.length - 1"
              class="absolute -bottom-4 w-full text-center mx-auto font-extrabold">·</p>
            </div>
            
            <div class="flex flex-col">
              <div class="text-lg font-medium text-gray-50">{{ i === 0 ? 'Pick Up' : i === waypoints.length - 1 ? 'Drop Off' : 'Stop ' + i }}</div>
              <div class="text-sm font-medium text-light">
                {{ waypoint.raw.address.road ? waypoint.raw.address.road + (waypoint.raw.address.house_number ? ' ' + waypoint.raw.address.house_number : '') +
                (waypoint.raw.address.city ? ', ' : '') : '' }}
                {{ waypoint.raw.address.quarter ? waypoint.raw.address.quarter + (waypoint.raw.address.city ? ', ' : '') : '' }}{{ waypoint.raw.address.city }}
                </div>
            </div>
          </div>

          <button class="grow-0 w-10 h-10 my-auto p-1 text-gray-50 hover:text-accent-light mx-auto"
          (click)="removeStop(i)">
            <fa-icon [icon]="faXmark"></fa-icon>
          </button>

        </div>
      </div>
    </div>

    <!-- add new stop -->
    
    <div *ngIf="!(accountType === 'anonymous' && waypoints.length === 2)" class="flex" [ngClass]="waypoints.length > 0 ? 'mt-4' : 'mt-0'">
      <input class="appearance-none block w-full text-white tracking-wide
      placeholder-light caret-light border-b border-light focus:border-accent-light
      bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
      type="text" [(ngModel)]="newStopQuery" (keydown.enter)="addStop()"
      [placeholder]="waypoints.length === 0 ? 'Add the starting point' : 'Add a destination'">

      <button (click)="addStop()"
      class="px-2 py-1 text-gray-50 hover:text-accent-light mx-auto">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>

    <div *ngIf="route" class="flex flex-col mt-10">

      <div class="flex justify-center font-medium text-sm text-gray-50
      divide-x divide-light">
        <div class="flex gap-x-1.5 px-2 w-1/2 justify-end">
          <fa-icon [icon]="faStopwatch"></fa-icon>
          <span>{{ (route.summary.totalTime / 60) + 1 | number: '1.0-0' }} min</span>
        </div>
        <div class="flex gap-x-1.5 px-2 w-1/2 justify-start">
          <fa-icon [icon]="faRoute"></fa-icon>
          <span>{{ (route.summary.totalDistance / 1000) | number: '1.2-2' }} km</span>
        </div>
      </div>
      
      <div *ngIf="calculateRidePrice() > 0" class="flex justify-center font-medium text-sm text-gray-50 mt-2">
        <div class="flex gap-x-1.5">
          <fa-icon [icon]="faHandHoldingUsd"></fa-icon>
          <span>{{ calculateRidePrice() }}<b class="font-black text-accent-light">&nbsp;T</b></span>
        </div>
      </div>

    </div>

    <!-- Show when route chosen -->
    <div *ngIf="waypoints.length > 1" class="mt-12">
      <!-- car preferences -->
      <div *ngIf="selectedVehicleType" class="flex flex-col">
        <!-- car type -->
        <div class="flex justify-around select-none">

          <div class="flex flex-col justify-end text-center">
            <img [src]="selectedVehicleType.name === 'COUPE' ? 'assets/icons/car-coupe.png' : 'assets/icons/car-coupe-gray.png'"
            class="w-16 hover:opacity-90 cursor-pointer" title="Coupe" (click)="setVehicleType('COUPE')"/>
            <p class="text-sm font-medium mt-1" [ngClass]="selectedVehicleType.name === 'COUPE' ? 'text-gray-50' : 'text-light'">Coupe</p>
          </div>

          <div class="flex flex-col justify-end text-center">
            <img [src]="selectedVehicleType.name === 'MINIVAN' ? 'assets/icons/car-minivan.png' : 'assets/icons/car-minivan-gray.png'"
            class="w-16 hover:opacity-90 cursor-pointer" title="Minivan" (click)="setVehicleType('MINIVAN')"/>
            <p class="text-sm font-medium mt-1" [ngClass]="selectedVehicleType.name === 'MINIVAN' ? 'text-gray-50' : 'text-light'">Minivan</p>
          </div>
          
          <div class="flex flex-col justify-end text-center">
            <img [src]="selectedVehicleType.name === 'STATION' ? 'assets/icons/car-station.png' : 'assets/icons/car-station-gray.png'"
            class="w-16 hover:opacity-90 cursor-pointer" title="Station" (click)="setVehicleType('STATION')"/>
            <p class="text-sm font-medium mt-1" [ngClass]="selectedVehicleType.name === 'STATION' ? 'text-gray-50' : 'text-light'">Station</p>
          </div>

        </div>

        <!-- additional options -->
        <div *ngIf="accountType === 'passenger'" class="flex mx-auto mt-6 px-4 py-0.5 justify-between gap-x-3">

          <div class="flex gap-x-2 justify-between border border-light border-dashed px-2 sm:px-6 py-1 cursor-pointer"
          [ngClass]="hasBabySeat ? 'text-gray-50 border-gray-50' : 'text-light border-light'" (click)="hasBabySeat = !hasBabySeat">
            <fa-icon [icon]="faBabyCarriage"title="Has baby seat"
            class="text-xl"></fa-icon>
            <p class="text-base my-auto">Baby seat</p>
          </div>

          <div class="flex gap-x-2 justify-between border border-light border-dashed px-2 sm:px-6 py-1 cursor-pointer"
          [ngClass]="isPetFriendly ? 'text-gray-50 border-gray-50' : 'text-light border-light'" (click)="isPetFriendly = !isPetFriendly">
            <fa-icon [icon]="faPaw" title="Pet friendly"
            class="text-xl"></fa-icon>
            <p class="text-base my-auto">Pet friendly</p>
          </div>

        </div>

      </div>

      <!-- split fare -->
      <div *ngIf="selectedVehicleType && accountType === 'passenger'" class="mt-10">

        <h3 *ngIf="expandSplitFare"  class="text-xl font-bold text-gray-50 mt-4 sm:mt-0">Linked passengers</h3>

        <div *ngIf="linkedPassengers" class="flex flex-col shrink-0 mt-2 max-h-72 overflow-auto">
          <div *ngFor="let passengerEmail of linkedPassengers; let i=index;">
            <div class="flex w-full justify-between">
              
              <div class="flex gap-x-3 grow my-auto text-base font-medium
              text-gray-50">
                <fa-icon [icon]="faEnvelope" class="text-lg my-auto text-light"></fa-icon>
                <div>{{ passengerEmail }}</div>
              </div>
    
              <button class="grow-0 w-10 h-10 my-auto p-1 text-gray-50 hover:text-accent-light mx-auto"
              (click)="unlinkPassenger(i)">
                <fa-icon [icon]="faXmark"></fa-icon>
              </button>
    
            </div>
          </div>
        </div>

        <div *ngIf="!expandSplitFare" class="text-sm italic text-light hover:text-accent-light
        cursor-pointer text-center"
        (click)="expandSplitFare = true">
          <fa-icon [icon]="faPlus"></fa-icon>
          <span class="ml-2">Link more passengers for a fare split</span>
        </div>
        
        <form *ngIf="expandSplitFare && linkedPassengers.length < selectedVehicleType.seats" 
        [formGroup]="splitFareForm" (submit)="linkPassenger()">
          <div class="flex">
            <input class="appearance-none block w-full text-white tracking-wide
            placeholder-light caret-light border-b border-light focus:border-accent-light
            bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
            type="text" formControlName="splitFareEmail" placeholder="Enter a co-passenger's email">
            
            <button type="submit"
            class="px-2 py-1 text-gray-50 hover:text-accent-light mx-auto">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          </div>
          <div class="h-1">
            <p *ngIf="splitFareEmail && splitFareEmail.invalid && splitFareEmail.touched"
              class="text-yellow-400 text-xs italic">
              <span *ngIf="splitFareEmail.errors?.['required']">
                An email is required.
              </span>
              <span *ngIf="splitFareEmail.errors?.['pattern']">
                Email is not valid.
              </span>
            </p>
          </div>
        </form>
      </div>
      
      <!-- order button -->
      <div>
        <button *ngIf="accountType === 'passenger'" type="submit" class="w-full h-16 bg-accent-light
        active:bg-accent text-white font-medium tracking-wide mt-10" (click)="orderRide()">
          ORDER RIDE {{linkedPassengers.length > 0 ? 'WITH ' + linkedPassengers.length + ' OTHER PASSENGER'
          + (linkedPassengers.length === 1 ? '' : 'S') : ''}} {{ totalDelayInMinutes > 0 ? 'AT ' + reservationTime : ''}}
        </button>
        <div *ngIf="accountType === 'anonymous'" class="text-light text-center mt-6">
          You must
          <span class="text-accent-light cursor-pointer font-bold"><a routerLink="/auth/login">Log In</a></span>
          before ordering a ride
        </div>
      </div>

      <!-- reservations -->
      <div *ngIf="selectedVehicleType && accountType === 'passenger'" class="mt-4">

        <div *ngIf="!expandReservations" class="text-sm italic text-light hover:text-accent-light
        cursor-pointer text-center" (click)="expandReservations = true">
          <fa-icon [icon]="faStopwatch20"></fa-icon>
          <span class="ml-2">Order in advance</span>
        </div>
        

        <div *ngIf="expandReservations">
          <div class="text-base italic text-light text-left">
            I want the ride to start after:
          </div>

          <div class="flex justify-start gap-x-2">

            <div class="flex gap-x-2">
              <input class="appearance-none block w-16 text-white tracking-wide
              placeholder-stone-400 caret-light border-b border-light focus:border-accent-light
              bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
              [(ngModel)]="delayInHoursFormatted" #hourdelayinput
              id="delay-ride-hours" type="number" placeholder="h">
              <label class="flex flex-col justify-end tracking-wide text-light text-sm font-bold mb-1 text-left"
              for="delay-ride-hours">
                hours and
              </label>
            </div>

            <div class="flex gap-x-2">
              <input class="appearance-none block w-16 text-white tracking-wide
              placeholder-stone-400 caret-light border-b border-light focus:border-accent-light
              bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
              [(ngModel)]="delayInMinutesFormatted" #minutedelayinput
              id="delay-ride-minutes" type="number" placeholder="min">
              <label class="flex flex-col justify-end tracking-wide text-light text-sm font-bold mb-1 text-left"
              for="delay-ride-minutes">
                minutes.
              </label>
            </div>

          </div>
        </div>

      </div>
    </div>
    

  </div>

  <!-- opening arrow -->
  <div class="hidden sm:flex flex-col justify-center h-32 w-8 bg-dark
  my-auto cursor-pointer text-center slide-in text-light hover:text-gray-300"
  [ngClass]="isOpened ? '-ml-8 rounded-none' : 'rounded-r-full'"
  (click)="toggleOpened()">
    <fa-icon [icon]="isOpened ? faChevronLeft : faChevronRight" class="text-2xl"></fa-icon>
  </div>

  <!-- opening arrow -->
  <div class="sm:hidden flex justify-center w-screen z-10 slide-in-bottom">
    <div class="flex flex-col justify-center bg-dark
    my-auto cursor-pointer text-center text-light hover:text-gray-300"
    [ngClass]="isOpened ? '-mb-8 rounded-none h-8 w-full mx-10' : 'rounded-t-full h-8 w-44'"
    (click)="toggleOpened()">
      <fa-icon [icon]="isOpened ? faChevronDown : faChevronUp" class="text-2xl"></fa-icon>
    </div>
  </div>

  <div *ngIf="showSplitFareSuccessModal"
  class="fixed top-0 left-0 z-30 w-screen min-w-screen min-h-screen h-screen text-center
    flex items-center justify-center bg-stone-500 bg-opacity-80 transition-opacity text-base font-display">
    <div class="relative flex flex-col w-96 bg-dark rounded-xl mx-auto
    overflow-hidden px-9 py-8">

      <div class="circle-loader load-complete mx-auto mb-4">
        <div class="checkmark draw"></div>
      </div>
      <h3 class="text-xl font-medium text-gray-50">
        Success!
        <br>
        <span class="text-base text-stone-400">The ride will commence when we receive a confirmation from each passenger.</span>
      </h3>

      <!-- <button class="py-1 px-8 mt-6 border border-accent-light text-accent-light font-medium tracking-wide
      hover:bg-accent-light hover:text-gray-50 rounded-2xl" (click)="confirmRideResponse()">
        Close
      </button> -->

    </div>
  </div>

  <div *ngIf="showErrorModal">
    <app-error-modal
      [title]="errorTitle"
      [description]="errorMessage"
      (closeModal)="closeErrorModal()"
    ></app-error-modal>
  </div>

</div>
