<div>

  <app-map 
  [driverInfo]="{ isActive: isActive }"
  [isMainLoaded]="isMainLoaded"
  >
  </app-map>
  
  <div *ngIf="mapComponent" class="absolute top-0 left-0 right-0 z-40 pointer-events-none">
    <app-map-controls 
    (clear)="clearMarkers()" 
    [summary]="route?.summary"
    [driverInfo]="{ isActive: isActive }"
    >
    </app-map-controls>
  </div>

  <div *ngIf="mapComponent && (accountType === 'anonymous' || accountType === 'passenger') && !currentRide" class="absolute h-full z-40 left-0 top-0">
    <app-order-menu
    [waypoints]="waypoints"
    [route]="route"
    (stopAdded)="addNewStop($event)"
    (stopRemoved)="removeStop($event)"
    ></app-order-menu>
  </div>

  <div *ngIf="mapComponent && accountType === 'passenger' && currentRide">
    <div *ngIf="currentRide.allConfirmed" class="absolute h-full z-40 left-0 top-0">
      <app-passenger-ride-details
      [waypoints]="waypoints"
      ></app-passenger-ride-details>
    </div>
    <div *ngIf="!currentRide.allConfirmed">
      <app-split-fare-wait></app-split-fare-wait>
    </div>
  </div>

  <div *ngIf="mapComponent && accountType === 'driver' && currentDriverRide"
  class="absolute h-full z-40 left-0 top-0">
    <app-driver-ride-details
      [waypoints]="waypoints"
      ></app-driver-ride-details>
  </div>
  
  <div *ngIf="showErrorModal" class="z-100">
    <app-error-modal
      [title]="errorTitle"
      [description]="errorMessage"
      (onClose)="closeErrorModal()"
    ></app-error-modal>
  </div>

  <div *ngIf="showDisappearingNotification" class="z-100">
    <app-disappearing-notification
      [title]="disappearingNotificationTitle"
      [description]="disappearingNotificationMessage"
    ></app-disappearing-notification>
  </div>
  
  <div *ngIf="showRideCompleteModal">
    <app-ride-complete
      (onClose)="closeRideCompleteModal()"
    ></app-ride-complete>
  </div>

</div>