<div class="min-h-screen h-full w-full bg-dark flex flex-col">
  <div class="absolute top-6 left-6">
    <div class="border-4 border-stone-500 h-9 w-9 text-lg text-stone-500 hover:border-stone-400
    hover:text-stone-400 text-center cursor-pointer transition hover:-translate-x-1 mb-2" (click)="goHome()">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </div>
  </div>

  <div
    *ngIf="accountType === 'admin'"
    class="w-11/12 xl:w-5/6 mx-auto text border border-stone-500 rounded-lg py-10 px-5 md:px-8 xl:px-10 text-stone-500 mt-20"
  >
    <div class="h-full">
      <div
        class="grid grid-rows-2 grid-cols-3 lg:grid-rows-1 lg:grid-cols-5 gap-y-4 gap-x-4 tracking-wide"
      >
        <!-- username -->
        <div class="w-full">
          <label
            class="block tracking-wide text-light text-sm font-bold mb-1"
            for="search-username"
          >
            Username
          </label>
          <input
            class="appearance-none block w-full text-white tracking-wide placeholder-light caret-light border-b border-light focus:border-accent-light bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
            id="search-username"
            type="text"
            placeholder="Enter a username"
            autofocus="autofocus"
            [(ngModel)]="username"
          />
        </div>

        <!-- first name -->
        <div class="w-full">
          <label
            class="block tracking-wide text-light text-sm mb-1 font-bold"
            for="search-name"
          >
            Name
          </label>
          <input
            class="appearance-none block w-full text-white tracking-wide placeholder-light caret-light border-b border-light focus:border-accent-light bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
            id="search-name"
            type="text"
            placeholder="Enter a name"
            [(ngModel)]="name"
          />
        </div>

        <!-- surname -->
        <div class="w-full">
          <label
            class="block tracking-wide text-light text-sm font-bold mb-1"
            for="search-surname"
          >
            Surname
          </label>
          <input
            class="appearance-none block w-full text-white tracking-wide placeholder-light caret-light border-b border-light focus:border-accent-light bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
            id="search-surname"
            type="text"
            placeholder="Enter a surname"
            [(ngModel)]="surname"
          />
        </div>

        <!-- user type -->
        <div
          class="flex justify-center h-12 my-auto text-center font-medium col-span-2 md:col-span-1"
        >
          <div class="w-1/2">
            <input
              class="hidden peer"
              type="radio"
              value="DRIVER"
              name="type"
              id="search-driver-radio-button"
              (change)="onItemChange($event)"
              checked
            />
            <label
              class="h-full w-full flex flex-col justify-center rounded-l-2xl border-2 border-r-0 cursor-pointer border-light text-light peer-checked:border-accent-light peer-checked:bg-accent-light peer-checked:text-white hover:bg-zinc-700"
              for="search-driver-radio-button"
            >
              Driver
            </label>
          </div>

          <div class="w-1/2">
            <input
              class="hidden peer"
              type="radio"
              value="PASSENGER"
              name="type"
              id="search-passenger-radio-button"
              (change)="onItemChange($event)"
            />
            <label
              class="h-full w-full flex flex-col justify-center rounded-r-2xl border-2 border-l-0 cursor-pointer border-light text-light peer-checked:border-accent-light peer-checked:bg-accent-light peer-checked:text-white hover:bg-zinc-700"
              for="search-passenger-radio-button"
            >
              Passenger
            </label>
          </div>
        </div>

        <button
          type="submit"
          class="w-full col-start-3 lg:col-start-auto h-12 bg-accent-light active:bg-accent-light text-white font-medium tracking-wide rounded-2xl my-auto"
          (click)="search()"
        >
          Search
        </button>
      </div>
    </div>
  </div>

  <!-- results -->
  <div
    *ngIf="accountType === 'admin' && users.length > 0"
    class="w-11/12 xl:w-5/6 mx-auto mt-6 text-left py-8 px-5 md:px-8 xl:px-10 border border-stone-500 rounded-lg"
  >
    <ul role="list" class="flex flex-col gap-y-3">
      <li *ngFor="let user of users">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            <img *ngIf="user.userImage"
              [src]="user.userImage"
              class="h-10 w-10 object-cover rounded-full"
              [ngClass]="type === 'DRIVER' ? 'cursor-pointer' : ''"
              alt="No Profile Pic"
              [routerLink]="type === 'DRIVER' ? '/driver/' + user.username : null"
            />
            <div *ngIf="!user.userImage" class="h-10 w-10 rounded-full border-2 border-stone-500">
              
            </div>
          </div>
          <div class="min-w-0 flex-1">
            <p class="truncate font-medium text-gray-50 text-lg"
            [ngClass]="type === 'DRIVER' ? 'cursor-pointer' : ''"
            [routerLink]="type === 'DRIVER' ? '/driver/' + user.username : null">
              {{ user.name }} {{ user.surname }}
            </p>
            <p class="truncate text-sm text-light font-medium"
            [ngClass]="type === 'DRIVER' ? 'cursor-pointer' : ''"
            [routerLink]="type === 'DRIVER' ? '/driver/' + user.username : null">
              {{ user.username }}
            </p>
          </div>
          <div class="flex gap-x-2">
            <button
              class="w-24 inline-flex items-center rounded-full bg-accent-light px-2.5 py-1 text-sm
              font-medium leading-5 text-white shadow-sm hover:bg-accent justify-center"
              (click)="showBanModal(user.username)"
            >
              {{ user.accountStatus === "ACTIVE" ? "Ban User" : "Unban User" }}
            </button>
            <button
              class="inline-flex items-center rounded-full bg-accent-light px-2.5 py-1 text-sm
              font-medium leading-5 text-white shadow-sm hover:bg-accent"
              (click)="showUserNotes(user.username)"
            >
              User Notes
            </button>
            <button
              class="w-32 inline-flex items-center rounded-full bg-accent-light px-2.5 py-1 text-sm
              font-medium leading-5 text-white shadow-sm hover:bg-accent justify-center"
              (click)="showRideHistory(user.username)"
            >
              Ride history
            </button>
          </div>
        </div>
      </li>
    </ul>

    <div class="flex flex-col items-center mt-7 mb-3">
      <span class="text-sm text-stone-400">
        Showing
        <span class="font-semibold text-white">{{
          startElem + 1
        }}</span>
        to
        <span class="font-semibold text-white">{{
          startElem + ELEMENTS_PER_PAGE < numOfElements ? startElem + ELEMENTS_PER_PAGE : numOfElements
        }}</span>
        of
        <span class="font-semibold text-white">{{
          numOfElements
        }}</span>
        Entries
      </span>
      <div class="inline-flex mt-2 xs:mt-0">
        <button
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-dark
          border-0 border-l border-gray-700 rounded-l hover:bg-medium disabled:text-stone-500"
          (click)="prev()"
          [disabled]="startElem === 0"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5 mr-2"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
          Prev
        </button>
        <button
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-dark
          border-0 border-l border-gray-700 rounded-r hover:bg-medium disabled:text-stone-500"
          (click)="next()"
          [disabled]="startElem + ELEMENTS_PER_PAGE >= numOfElements"
        >
          Next
          <svg
            aria-hidden="true"
            class="w-5 h-5 ml-2"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- ban user modal -->
  <div
    *ngIf="showUserBanModal"
    class="fixed top-0 left-0 z-30 w-full min-h-screen h-screen text-center flex items-center justify-center bg-stone-500 bg-opacity-80 transition-opacity text-base font-display"
  >
    <div
      class="relative flex flex-col w-100 h-48 bg-dark rounded-xl mx-auto overflow-hidden px-9 py-7"
      (click)="clickedInsideModal = true"
    >
      <h3 class="text-xl font-medium text-gray-50">
        {{ banStatus === "BANNED" ? "Unban user" : "Ban user" }}
      </h3>

      <div class="flex flex-col justify-between h-full mt-4">
        <div clase="w-full mt-2">
          <div class="h-1">
            <p class="text-red-400 text-sm italic">
              Are you sure you want to
              {{ banStatus === "BANNED" ? "unban" : "ban" }} {{ selectedUser }}?
            </p>
          </div>
        </div>

        <div>
          <button
            class="py-1 px-8 border border-stone-500 text-stone-400 hover:bg-stone-500 hover:text-stone-300 rounded-2xl"
            (click)="banStatus === 'BANNED' ? unban() : ban()"
          >
            Yes
          </button>
          <button
            class="py-1 px-8 border border-stone-500 text-stone-400 hover:bg-stone-500 hover:text-stone-300 rounded-2xl"
            (click)="closeBanModal()"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- user notes modal -->
  <div
    *ngIf="showUserNotesModal"
    class="fixed top-0 left-0 z-30 w-full min-h-screen h-screen text-center flex items-center justify-center bg-stone-500 bg-opacity-80 transition-opacity text-base font-display"
  >
    <div
      class="relative flex flex-col w-132 min-h-72 bg-dark rounded-xl mx-auto overflow-hidden px-9 py-7"
      (click)="clickedInsideModal = true"
    >
      <h3 class="text-xl font-medium text-gray-50">User notes</h3>

      <div class="flex flex-col justify-between h-full mt-4 text-left">
        <div clase="w-full mt-2 text-left">
          <p *ngIf="userNotes.length === 0" class="text-white mx-auto">
            No notes for this user
          </p>
          <div *ngFor="let note of userNotes">
            <p class="text-white">
              <strong>{{ note.content }}</strong> ->
              <i>by {{ note.admin.username }}</i> &nbsp;
              <button (click)="removeNote(note)" class="text-xs">
                <fa-icon [icon]="faTrashCan"></fa-icon>
              </button>
            </p>
          </div>
          <br />

          <textarea
            class="w-full border border-solid border-stone-500 bg-dark resize-none h-14 md:h-14 text text-thin text-stone-100 placeholder-stone-400 p-2 leading-tight rounded-md focus:outline-none focus:border-accent-light mb-2"
            [(ngModel)]="newNote"
            placeholder="Enter new note"
          ></textarea>
        </div>
        <div class="mx-auto gap-x-2">
          <button
            class="py-1 px-8 border border-stone-500 text-stone-400 hover:bg-stone-500 hover:text-stone-300 rounded-2xl"
            (click)="addNote()"
          >
            Add note
          </button>
          <button
            class="py-1 px-8 border border-stone-500 text-stone-400 hover:bg-stone-500 hover:text-stone-300 rounded-2xl"
            (click)="closeUserNotesModal()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="accountType !== 'admin'"
    class="w-11/12 sm:w-120 mx-auto my-auto text-center border border-stone-500 rounded-lg py-16 px-4 sm:p-16 text-stone-500 font-bold text-2xl"
  >
    Session invalid. <br />
    Please log in again.
  </div>
</div>
