<div>
  <form [formGroup]="userEditForm" (submit)="onSubmitUserUpdate()">
    <h3
      class="text-xl font-bold text-gray-50 transition-all ease-in-out cursor-pointer"
      (click)="onClickUserInfo()"
    >
      User information
      <fa-icon *ngIf="!showUserInfo" [icon]="faChevronDown" class=""></fa-icon>
      <fa-icon *ngIf="showUserInfo" [icon]="faChevronUp" class=""></fa-icon>
    </h3>
    <div *ngIf="showUserInfo">
      <div class="flex justify-between gap-x-4">
        <div class="w-full">
          <label
            class="block tracking-wide text-light text-xs font-bold mb-1"
            for="register-first-name"
          >
            First Name
          </label>
          <input
            class="appearance-none block w-full text-white tracking-wide placeholder-light caret-light border-b border-light focus:border-accent-light bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
            id="register-first-name"
            type="text"
            placeholder="Your First Name"
            formControlName="name"
          />
          <div class="h-1">
            <p
              *ngIf="name && name.invalid && name.touched"
              class="text-yellow-400 text-xs italic"
            >
              <span *ngIf="name.errors?.['required']">
                First name is required.
              </span>
              <span *ngIf="name.errors?.['minlength']">
                First name is too short.
              </span>
              <span *ngIf="name.errors?.['maxlength']">
                First name is too long.
              </span>
            </p>
          </div>
        </div>
        <div class="w-full">
          <label
            class="block tracking-wide text-light text-xs font-bold mb-1"
            for="register-last-name"
          >
            Last Name
          </label>
          <input
            class="appearance-none block w-full text-white tracking-wide placeholder-light caret-light border-b border-light focus:border-accent-light bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
            id="register-last-name"
            type="text"
            placeholder="Your Last Name"
            formControlName="surname"
          />
          <div class="h-1">
            <p
              *ngIf="surname && surname.invalid && surname.touched"
              class="text-yellow-400 text-xs italic"
            >
              <span *ngIf="surname.errors?.['required']">
                Last name is required.
              </span>
              <span *ngIf="surname.errors?.['minlength']">
                Last name is too short.
              </span>
              <span *ngIf="surname.errors?.['maxlength']">
                Last name is too long.
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="w-full my-2">
        <label
          class="block tracking-wide text-light text-xs font-bold mb-1"
          for="register-first-name"
        >
          Phone Number
        </label>
        <input
          class="appearance-none block w-full text-white tracking-wide placeholder-light caret-light border-b border-light focus:border-accent-light bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
          id="register-phone-number"
          type="text"
          placeholder="Your Phone Number"
          formControlName="phoneNumber"
        />
        <div class="h-1">
          <p
            *ngIf="phoneNumber && phoneNumber.invalid && phoneNumber.touched"
            class="text-yellow-400 text-xs italic"
          >
            <span *ngIf="phoneNumber.errors?.['minlength']">
              Phone Number is too short.
            </span>
            <span *ngIf="phoneNumber.errors?.['maxlength']">
              Phone Number is too long.
            </span>
            <span *ngIf="phoneNumber.errors?.['pattern']">
              Phone Number is too long.
            </span>
          </p>
        </div>
      </div>
      <div class="w-full my-2">
        <label
          class="block tracking-wide text-light text-xs font-bold mb-1"
          for="register-first-name"
        >
          City
        </label>
        <input
          class="appearance-none block w-full text-white tracking-wide placeholder-light caret-light border-b border-light focus:border-accent-light bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
          id="register-city"
          type="text"
          placeholder="Your City"
          formControlName="city"
        />
        <div class="h-1">
          <p
            *ngIf="city && city.invalid && city.touched"
            class="text-yellow-400 text-xs italic"
          >
            <span *ngIf="city.errors?.['minlength']"> City is too short. </span>
            <span *ngIf="city.errors?.['maxlength']"> City is too long. </span>
          </p>
        </div>
      </div>
      <div class="block mt-4">
        <div class="flex rounded-lg w-full ml-1">
          <label
            id="label-input"
            class="mx-auto outline-dashed outline-2 outline-offset-2 outline-gray-400 hover:outline-gray-600 hover:border-gray-300 cursor-pointer"
          >
            <img
              [src]="newImage ? newImage : currentImage"
              class="flex-none w-24 h-24 rounded-xl object-cover"
              alt="Profile Picture"
            />

            <input
              id="image-input"
              type="file"
              accept="image/*"
              (change)="readURL($event)"
              class="opacity-0 hidden h-0 w-0"
            />
          </label>
        </div>
      </div>
    </div>
    <h3
      class="text-xl mt-8 font-bold text-gray-50 cursor-pointer"
      (click)="onClickVehicleInfo()"
    >
      Vehicle information
      <fa-icon *ngIf="!showVehicleInfo" [icon]="faChevronUp"></fa-icon>
      <fa-icon *ngIf="showVehicleInfo" [icon]="faChevronDown"></fa-icon>
    </h3>
    <div
      class="flex flex-col gap-y-6 my-8 tracking-wide"
      *ngIf="showVehicleInfo"
    >
      <div class="flex flex-col">
        <!-- car type -->
        <div class="flex justify-around select-none">
          <div class="flex flex-col justify-end text-center">
            <img
              [src]="
                selectedVehicleType === 'COUPE'
                  ? 'assets/icons/car-coupe.png'
                  : 'assets/icons/car-coupe-gray.png'
              "
              class="w-16 hover:opacity-90 cursor-pointer"
              title="Coupe"
              (click)="setVehicleType('COUPE')"
            />
            <p
              class="text-sm font-medium mt-1"
              [ngClass]="
                selectedVehicleType === 'COUPE' ? 'text-gray-50' : 'text-light'
              "
            >
              Coupe
            </p>
          </div>

          <div class="flex flex-col justify-end text-center">
            <img
              [src]="
                selectedVehicleType === 'MINIVAN'
                  ? 'assets/icons/car-minivan.png'
                  : 'assets/icons/car-minivan-gray.png'
              "
              class="w-16 hover:opacity-90 cursor-pointer"
              title="Minivan"
              (click)="setVehicleType('MINIVAN')"
            />
            <p
              class="text-sm font-medium mt-1"
              [ngClass]="
                selectedVehicleType === 'MINIVAN'
                  ? 'text-gray-50'
                  : 'text-light'
              "
            >
              Minivan
            </p>
          </div>

          <div class="flex flex-col justify-end text-center">
            <img
              [src]="
                selectedVehicleType === 'STATION'
                  ? 'assets/icons/car-station.png'
                  : 'assets/icons/car-station-gray.png'
              "
              class="w-16 hover:opacity-90 cursor-pointer"
              title="Station"
              (click)="setVehicleType('STATION')"
            />
            <p
              class="text-sm font-medium mt-1"
              [ngClass]="
                selectedVehicleType === 'STATION'
                  ? 'text-gray-50'
                  : 'text-light'
              "
            >
              Station
            </p>
          </div>
        </div>

        <!-- additional options -->
        <div class="flex mx-auto mt-6 px-4 py-0.5 justify-between gap-x-3">
          <div
            class="flex gap-x-2 justify-between border border-light border-dashed px-2 sm:px-6 py-1 cursor-pointer"
            [ngClass]="
              hasBabySeat
                ? 'text-gray-50 border-gray-50'
                : 'text-light border-light'
            "
            (click)="hasBabySeat = !hasBabySeat"
          >
            <fa-icon
              [icon]="faBabyCarriage"
              title="Has baby seat"
              class="text-xl"
            ></fa-icon>
            <p class="text-base my-auto">Baby seat</p>
          </div>

          <div
            class="flex gap-x-2 justify-between border border-light border-dashed px-2 sm:px-6 py-1 cursor-pointer"
            [ngClass]="
              isPetFriendly
                ? 'text-gray-50 border-gray-50'
                : 'text-light border-light'
            "
            (click)="isPetFriendly = !isPetFriendly"
          >
            <fa-icon
              [icon]="faPaw"
              title="Pet friendly"
              class="text-xl"
            ></fa-icon>
            <p class="text-base my-auto">Pet friendly</p>
          </div>
        </div>

        <div class="flex justify-between gap-x-4 mt-8">
          <div class="w-full">
            <label
              class="block tracking-wide text-light text-xs font-bold mb-1"
              for="register-vehicle-make"
            >
              Vehicle Make
            </label>
            <input
              class="appearance-none block w-full text-white tracking-wide placeholder-light caret-light border-b border-light focus:border-accent-light bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
              id="register-vehicle-make"
              type="text"
              placeholder="Make"
              formControlName="make"
            />
            <div class="h-1">
              <p
                *ngIf="make && make.invalid && make.touched"
                class="text-yellow-400 text-xs italic"
              >
                <span *ngIf="make.errors?.['required']">
                  Vehicle make is required.
                </span>
              </p>
            </div>
          </div>

          <div class="w-full">
            <label
              class="block tracking-wide text-light text-xs font-bold mb-1"
              for="register-vehicle-model"
            >
              Vehicle Model
            </label>
            <input
              class="appearance-none block w-full text-white tracking-wide placeholder-light caret-light border-b border-light focus:border-accent-light bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
              id="register-vehicle-model"
              type="text"
              placeholder="Model"
              formControlName="model"
            />
            <div class="h-1">
              <p
                *ngIf="model && model.invalid && model.touched"
                class="text-yellow-400 text-xs italic"
              >
                <span *ngIf="model.errors?.['required']">
                  Vehicle model is required.
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="flex justify-between gap-x-4 mt-8">
          <div class="w-full">
            <label
              class="block tracking-wide text-light text-xs font-bold mb-1"
              for="register-vehicle-colour"
            >
              Colour
            </label>
            <input
              class="appearance-none block w-full text-white tracking-wide placeholder-light caret-light border-b border-light focus:border-accent-light bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
              id="register-vehicle-colour"
              type="text"
              placeholder="Colour"
              formControlName="colour"
            />
            <div class="h-1">
              <p
                *ngIf="colour && colour.invalid && colour.touched"
                class="text-yellow-400 text-xs italic"
              >
                <span *ngIf="colour.errors?.['required']">
                  Colour is required.
                </span>
              </p>
            </div>
          </div>

          <div class="w-full">
            <label
              class="block tracking-wide text-light text-xs font-bold mb-1"
              for="register-vehicle-license-plate"
            >
              License Plate Number
            </label>
            <input
              class="appearance-none block w-full text-white tracking-wide placeholder-light caret-light border-b border-light focus:border-accent-light bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
              id="register-vehicle-license-plate"
              type="text"
              placeholder="License Plate Number"
              formControlName="licensePlateNumber"
            />
            <div class="h-1">
              <p
                *ngIf="
                  licensePlateNumber &&
                  licensePlateNumber.invalid &&
                  licensePlateNumber.touched
                "
                class="text-yellow-400 text-xs italic"
              >
                <span *ngIf="licensePlateNumber.errors?.['required']">
                  License plate number is required.
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <button
      type="submit"
      class="w-full h-16 bg-accent-light active:bg-accent text-white font-medium tracking-wide"
    >
      SEND UPDATE REQUEST
    </button>
  </form>
</div>
<br />
<div class="mx-auto">
  <span class="text-accent-light cursor-pointer" (click)="resetPassword()"
    >Change password</span
  >
</div>
<div *ngIf="showConfirmModal">
  <app-error-modal
    title="Successfully sent request"
    description="Successfully sent profile update request to the admin!"
    (onClose)="closeModal()"
  ></app-error-modal>
</div>
