<div class="min-h-screen h-full w-full bg-dark flex flex-col justify-center">

  <div class="absolute top-6 left-6">
    <div class="border-4 border-stone-500 h-9 w-9 text-lg text-stone-500 hover:border-stone-400 hover:text-stone-400 text-center cursor-pointer
    transition hover:-translate-x-1 mb-2" (click)="goHome()">
      <fa-icon [icon]="faChevronLeft" class=""></fa-icon>
    </div>
  </div>

  <div class="w-11/12 sm:w-96 mx-auto text-left">
    <h1 class="text-3xl font-bold text-white">Reset password</h1>

    <form [formGroup]="passwordResetForm"  (submit)="onSubmit()">
    <div class="flex flex-col gap-y-6 mt-10 mb-12 tracking-wide">
      <div class="w-full">
        <label class="block tracking-wide text-light text-xs font-bold mb-1"
        for="login-email">
          Password
        </label>
        <input class="appearance-none block w-full text-white tracking-wide
        placeholder-light caret-light border-b border-light focus:border-accent-light
        bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
        id="login-password" type="text" placeholder="Password" autofocus="autofocus"
        formControlName="email"
        (input)="wrongCredentials = false">
        <div class="h-1">
          <p *ngIf="email && email.invalid && email.touched"
            class="text-yellow-400 text-xs italic">
            <span *ngIf="email.errors?.['required']">
              Password is required.
            </span>
          </p>
        </div>
      </div>

      <div class="w-full">
        <label class="block tracking-wide text-light text-xs font-bold mb-1"
        for="login-password">
          Repeat password
        </label>
        <input class="appearance-none block w-full text-white tracking-wide
        placeholder-light caret-light border-b border-light focus:border-accent-light
        bg-transparent leading-tight outline-none py-1 focus:transition-color duration-300"
        id="login-repeat-password" type="password" placeholder="Repeat your Password" formControlName="password"
        (input)="wrongCredentials = false">
        <div class="h-1">
          <p *ngIf="password && password.invalid && password.touched"
            class="text-yellow-400 text-xs italic">
            <span *ngIf="password.errors?.['required']">
              Password is required.
            </span>
            <span *ngIf="password.errors?.['minlength']">
              Password is too short.
            </span>
          </p>
        </div>
      </div>

    </div>

  <button type="submit" class="w-full h-16 bg-accent-light active:bg-accent text-white font-medium tracking-wide">
    Reset Password
  </button>
</form>
</div>
