<div>
  <div
    class="flex justify-between gap-x-2 sm:gap-x-0 w-11/12 sm:w-88 h-14 px-2 mt-5 mx-auto bg-dark text-gray-50 rounded-full shadow-md pointer-events-auto select-none"
  >
    <!-- menu -->
    <div
      class="relative flex flex-col justify-center text-center text-xl w-11 h-11 my-auto rounded-full cursor-pointer hover:text-light shrink-0"
    >
      <fa-icon
        [icon]="faBars"
        class=""
        (click)="
          showActionsDropdown = !showActionsDropdown;
          clickedActionsDropdown = true
        "
      ></fa-icon>

      <!-- change when new options are added for other users -->
      <div
        *ngIf="showActionsDropdown && accountType === 'admin'"
        class="absolute z-20 left-0 top-14 rounded-lg bg-dark w-64 p-1.5 px-2 flex flex-col font-medium text-light text-base"
        (click)="clickedActionsDropdown = true"
      >
        <!-- admin -->
        <div *ngIf="accountType === 'admin'">
          <button
            class="flex gap-x-3 px-3 py-1.5 rounded-lg w-full hover:text-gray-300"
            routerLink="/admin/driver-registration"
          >
            <fa-icon [icon]="faUserPlus" class="text-xl"></fa-icon>
            <span class="my-auto">Register a driver</span>
          </button>
          <button
            class="flex gap-x-3 px-3 py-1.5 rounded-lg w-full hover:text-gray-300"
            routerLink="/admin/update-requests"
          >
            <fa-icon [icon]="faUserEdit" class="text-xl"></fa-icon>
            <span class="my-auto">View update requests</span>
          </button>
        </div>
      </div>
    </div>

    <div
      *ngIf="accountType !== 'driver'"
      class="flex flex-col justify-center text-center text-xl my-auto rounded-full font-medium"
    >
      Suber
    </div>

    <!-- activity -->
    <div
      *ngIf="accountType === 'driver' && driverInfo.isActive !== null"
      class="flex flex-col justify-center relative h-11 my-auto w-56 rounded-full mx-auto text-center text-xl font-medium tracking-wider pointer-events-auto select-none cursor-pointer"
      [ngClass]="driverInfo.isActive ? 'bg-accent' : 'bg-light'"
      (click)="toggleActivity()"
    >
      <div
        class="absolute top-0 left-0 w-full h-full rounded-full"
        [ngClass]="
          driverInfo.isActive
            ? 'bg-accent-light  animate-pulse'
            : 'bg-transparent animate-none'
        "
      ></div>
      <p class="animate-none text-white z-10">
        {{ driverInfo.isActive ? "ACTIVE" : "INACTIVE" }}
      </p>
    </div>

    <!-- login -->
    <div
      *ngIf="accountType === 'anonymous'"
      routerLink="/login"
      class="flex flex-col justify-center text-center text-xl w-11 h-11 my-auto rounded-full cursor-pointer hover:text-light"
    >
      <fa-icon [icon]="faArrowRightToBracket" class=""></fa-icon>
    </div>

    <div *ngIf="accountType !== 'anonymous'" class="relative block my-auto">
      <!-- profile -->
      <div
        (click)="
          showProfileDropdown = !showProfileDropdown;
          clickedProfileDropdown = true
        "
        class="flex flex-col justify-center text-center text-xl w-10 h-10 my-auto rounded-full cursor-pointer hover:text-light shadow-sm"
      >
        <img
          src="/assets/images/placeholders/taxi-driver.jpg"
          alt=""
          class="w-11 h-11 rounded-full"
        />
      </div>

      <!-- profile dropdown -->
      <div
        *ngIf="showProfileDropdown"
        class="absolute z-20 right-0 top-14 rounded-lg bg-dark w-64 p-1.5 px-2 flex flex-col font-medium text-light"
        (click)="clickedProfileDropdown = true"
      >
        <button
          class="flex gap-x-3 px-3 py-1.5 rounded-lg w-full hover:text-gray-300"
          routerLink="/account"
        >
          <fa-icon [icon]="faUser" class="text-xl"></fa-icon>
          <span class="my-auto">Account</span>
        </button>

        <hr class="my-1 border-stone-500" />

        <button
          class="flex gap-x-3 px-3 py-1.5 rounded-lg w-full hover:text-gray-300"
          (click)="logout()"
        >
          <fa-icon [icon]="faPowerOff" class="text-xl"></fa-icon>
          <span class="my-auto">Log Out</span>
        </button>
      </div>
    </div>
  </div>
</div>
